QWidget {
        background-color: #fdfdfd;
        color: #444444;
        font-family: Segoe UI, sans-serif;
        font-size: 16px;
    }

    QLineEdit {
        background-color: #2a2a2a;
        color: #000000;
        border: 2px solid #ffaa00;
        border-radius: 10px;
        padding: 6px;
    }

    QLabel {
        color: #ff6600;
        font-weight: bold;
        font-size: 18px;
    }

    QPushButton {
        background-color: rgba(0, 170, 255, 0.05);
        color: #00aaff;
        border: 1px solid #cceeff;
        border-radius: 40px;
        padding: 10px;
        min-width: 60px;
    }

    QPushButton:hover {
        background-color: #f5f5f5;
    }

    QPushButton:pressed {
        background-color: #ff9900;
    }

    QPushButton#btnEvaluate {
        background-color: #ff6600;
        color: white;
        font-weight: bold;
    }

    QPushButton#btnClear {
        background-color: #ff6600;
        color: white;
        font-weight: bold;
    }

    QPushButton#btnSlash, QPushButton#btnMul, QPushButton#btnDiv, QPushButton#btnAdd, QPushButton#btnSub, QPushButton#btnPow, QPushButton#btnReverse,
    QPushButton#btnLeftBracket, QPushButton#btnRightBracket, QPushButton#btnToggleFormat, QPushButton#btnBackspace, QPushButton#btnSlash {
        color: #ff6600;
    }

    QPushButton#btnBackspace,
    QPushButton#btnMul,
    QPushButton#btnDiv,
    QPushButton#btnAdd,
    QPushButton#btnSub {
        background-color: #f0d876;
    }

    QPushButton#btnBackspace:hover,
    QPushButton#btnMul:hover,
    QPushButton#btnDiv:hover,
    QPushButton#btnAdd:hover,
    QPushButton#btnSub:hover {
        background-color: #ff6600;
    }