# CMake build directories
/build/
CMakeCache.txt
CMakeFiles/
Makefile
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake

# Visual Studio
.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.user
*.suo
*.userosscache
*.sln
*.sdf
*.db
*.pdb
*.ipch
*.aps
*.ncb
*.obj
*.exe
*.dll
*.lib
*.pdb
*.cache

# Temporary files
*.log
*.swp
*.bak
*.tmp
*~
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
*.swp

x64/