    QWidget {
        background-color: #f5faff;
        color: #2c3e50;
        font-family: "Segoe UI", "Roboto", sans-serif;
        font-size: 16px;
    }

    QLabel {
        font-size: 16px;
        color: #2c3e50;
        text-align: center;
    }

    QPushButton {
        color: #00aaff;
        font-weight: bold;
        font-size: 24px;
        padding: 6px 12px;
        border-radius: 16px;
        background-color: rgba(0, 170, 255, 0.05);
        border: 1px solid #cceeff;
	qproperty-iconSize: 64px 64px;
    }

    QPushButton:hover {
        background-color: rgba(0, 122, 204, 0.8);
        color: white;
    }

    QListWidget::item {
        background-color: #eaf6ff;
        padding: 8px 12px;
        margin: 4px;
        border-radius: 6px;
        color: #2c3e50;
    }

    QListWidget::item:selected {
        background-color: #cceeff;
        color: #004466;
    }

    QScrollBar:vertical {
        border: none;
        background: transparent;
        width: 12px;
        margin: 4px 0 4px 0;
        border-radius: 6px;
    }

    QScrollBar::handle:vertical {
        background: #00aaff;
        min-height: 20px;
        border-radius: 6px;
    }

    QScrollBar::handle:vertical:hover {
        background: #007acc;
    }

    QScrollBar::sub-line:vertical,
    QScrollBar::add-line:vertical {
        height: 0;
        subcontrol-origin: margin;
    }

    QScrollBar::add-page:vertical,
    QScrollBar::sub-page:vertical {
        background: none;
    }

    QComboBox {
        background-color: #ffffff;
        color: #2c3e50;
        border: 1px solid #99dfff;
        padding: 5px 10px;
        border-radius: 6px;
    }

    QComboBox:hover {
        border: 1px solid #00aaff;
    }

    QComboBox:drop-down {
        border: none;
        background-color: #e0f7ff;
    }

    QLineEdit {
        background-color: #ffffff;
        border: 1px solid #99dfff;
        border-radius: 6px;
        padding: 5px;
        color: #2c3e50;
    }

    QLineEdit:focus {
        border: 1px solid #00aaff;
    }